@*Remark Model*@
@model ComplaintTracker.Models.COMPLAINT




@Html.HiddenFor(model => model.IsResolvedByFrt);
<div class="modal fade" id="remarkPopup" tabindex="-1" aria-hidden="true" style="display: none;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="max-width:100%">
        <div class="modal-content">
            <div class="modal-header with-border text-white">
                <h2 class="modal-title"> Add Remark</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-md-12">

                        <label for="COMPLAINT_NO">Complaint No.</label>
                        @Html.EditorFor(model => model.COMPLAINT_NO, new { htmlAttributes = new { placeholder = "Complaint No.", @class = "form-control", @disabled = "disabled" } })

                        @Html.HiddenFor(model => model.COMPLAINT_NO)

                    </div>
                </div>
                @*<div class="row mb-3">
                    <div class="col-md-12">
                        <p class="text-sm text-secondary fw-bold">
                            <div style="display: inline-block;">
                                <input id="toggle-eventConfirm" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-size="sm">
                            </div>
                            @Html.ValidationMessageFor(model => model.IsResolvedByFrt, "", new { @class = "text-danger" })
                            <h5 style="display: inline-block; margin: 0 0 0 10px;"><label for="toggle-eventConfirm">Resolved By Sub-Division</label></h5>
                        </p>
                    </div>
                </div>*@
                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="form-floating">
                            <h3>Complaint remarks</h3>
                            <table id="gridComplaintlog" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Remarks</th>
                                        <th>Date</th>
                                        <th>Remarks By</th>
                                        <th>Complaint No</th>
                                    </tr>
                                </thead>

                                <tbody class="tbody">
                                    @foreach (var item in Model.ComplaintRemarkCollection)
                                    {
                                        <tr>
                                            <td>@item.REMARK </td>
                                            <td>@item.REMARK_DATE_TIME</td>
                                            <td>@item.REMARKBY</td>
                                            <td>@item.ComplaintNumber</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-12">
                        <label for="REMARKS">Remarks</label>
                        <textarea class="form-control" name="REMARKS" id="REMARKS" style="height: 147px;" value="" placeholder="Remark" required></textarea>
                        @Html.ValidationMessageFor(model => model.REMARKS, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer with-border">
                <button type="button" class="btn btn-success" id="btnUpdate" onclick="addremark()">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function addremark() {
        var TeamDetailPostBackURL = '/Complaint/SaveRemark';
        var model = new Object();
        model.COMPLAINT_NO = $('#COMPLAINT_NO').val();
        model.REMARKS = $('#REMARKS').val();
        model.IsResolvedByFrt = $("#IsResolvedByFrt").val();
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: model,
            datatype: "json",
            success: function (data) {
                if (data.status == 1) {
                    $("#remarkPopup").modal('hide');
                    myfun();
                    swal("Good job!", data.message, "success");

                }
                else {
                    swal("error occured!", data.message, "error");
                }

            },
            error: function (data) {
                //alert("Dynamic content load failed.");
                swal("Dynamic content load failed.!", "error");
            }
        });
    }

    $('#toggle-eventConfirm').change(function () {
        if ($(this).prop('checked')) {
            $("#IsResolvedByFrt").val(true);

        }
        else {
            $("#IsResolvedByFrt").val(false);
        }
    });

</script>
